@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

body {
    margin: 0;
}

html {
    background-color: wheat;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}