i {
    color: black;
}

.user {
    display:  flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(34, 142, 34);
}

.user a {
    color: #fff;
    font-size: 18px;
}

.headerElements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerElements input, button, p{
    font-size: 20px;
}

.headerElements input {
    width: 40vw;
    border-bottom-left-radius: 15px;
}

.headerElements button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}